* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea:focus,
input:focus {
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.side-navbar {

    height: 100%;
    position: fixed;
    margin-left: -300px;
    transition: 0.5s;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
}

.nav-link {
    cursor: pointer !important;
}

.nav-link-active {
    cursor: pointer !important;
    background-color: #9747FF;
}

.text-purple {
    color: #9747FF !important;
}

.nav-link-active span {
    color: #ffffff !important;
}

.btn-online {
    background-color: #28CD46 !important;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    /* background-color: #ffffff26;*/
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 175px;
}

#menu-btn {

    color: #100901;
    height: 32px;
    margin-top: 10px;
}

.my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
}

.imgLogo {
    width: 100px;
}

.titulos {
    font-size: 16px;
    font-weight: 500;
}

.container2 {
    background-color: #F6F5FF !important;
}

.card-store {
    width: 250px !important;
}

.img-suscription {
    width: 225px !important;
    height: 225px !important;
}

.input-form-size {
    height: 41px !important;
}

.img-feature {
    width: 200px;
    height: 200px;
}

.form-radius {
    border-radius: 30px !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.btn-telegram {
    background-color: #269DD8;
}

.bg-gray {
    background-color: #DBDBDB !important;
}

#search-form {
    width: 90% !important;
}

#search-form * {
    outline: none !important;
    transition: 0.5s ease-in-out;
}

#search-form input {
    outline: none !important;
}
.nav-link-close{
    width: 54px !important;
}

@media (max-width: 575.98px) {

    .side-navbar {
        height: 100%;
        position: fixed;
        transition: 0.5s;
    }

    #menu-btn {
        background-color: #fff;
        color: #100901;
        margin-left: 0 !important;
    }

    .active-cont {
    /*    margin-left: 174px !important;*/
    }
}