* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.side-navbar {

    height: 100%;
    position: fixed;
    margin-left: -300px;
    transition: 0.5s;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
}

.nav-link {
    cursor: pointer !important;
}

.nav-link-active {
    cursor: pointer !important;
    background-color: #9747FF;
}
.text-purple{
    color: #9747FF !important;
}
.nav-link-active span {
    color: #ffffff !important;

}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    /* background-color: #ffffff26;*/
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 175px;
}

#menu-btn {

    color: #100901;
    height: 32px;
    margin-top: 10px;
}

.my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
}

.imgLogo {
    width: 100px;
}

.titulos {
    font-size: 16px;
    font-weight: 500;
}

.container2 {
    background-color: #F6F5FF !important;
}

@media (max-width: 575.98px) {

    .side-navbar {
        height: 100%;
        position: fixed;
        transition: 0.5s;
    }

    #menu-btn {
        background-color: #fff;
        color: #100901;
        margin-left: 0 !important;
    }

    .active-cont {
        margin-left: 174px !important;
    }
}